.header__lang-link {
    padding: 18px 18px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.16;
}

.header__lang-link:last-of-type {
    padding-right: 0;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        padding-top: 14px;
        font-size: 18px;
        line-height: 1.11; 
    }
}