.page {
    margin: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 1280px;
    background-color: #2A2C2F;
    color: #fff;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
