/* * {
    border: 1px solid red;
} */

.page {
    background-color: #2A2C2F;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
    text-rendering: optimizeLegibility;
}
