.card__link {
    margin-top: 12px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline;    
}
