.cover__content-container {
    margin: auto;
    text-decoration: none;
    max-width: 1184px;
    width: 100%;
    height: 740px;
    background-image: url('../../../images/cover-train.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1024px) {
    .cover__content-container {
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__content-container {
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__content-container {
        max-height: 200px;
    }
}


