.cover__content-container {
    background-image: url('../../../images/cover-train.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .cover__content-container {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__content-container {
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__content-container {
        height: 200px;
    }
}


