.cover__subtitle {
    margin: 32px 0 0;
    max-width: 360px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        margin-top: 16px;
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}