.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}
