.footer__copyright {
    margin: 0;
    min-width: max-content;
    justify-self: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 48px;
        line-height: 1;
    }
}