.card__link-container {
    grid-area: url;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width: 320px) {
    .card__link-container {
        margin: 0 5%;
        }
}