.intro {
    margin: 0 auto;
    padding-top: 92px;
    max-width: 984px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 64px 16px 0;
    }
}