.intro {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    padding: 92px 34.53% 0 11.56%;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 27.92% 0 4.6875%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 3.12% 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding: 64px 5% 0;
    }
}