.cover__background-img {
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
    opacity: .7;
    transition: opacity .3s ease-out;
}

.cover__background-img:hover {
    opacity: .3;
}

@media screen and (max-width: 1024px) {
    .cover__background-img {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background-img {
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background-img {
        height: 200px;
    }
}