.header__caption {
    margin: 0;
    padding: 8px calc(100% - 11.56% - 158px) 0  11.56%;
    color: #FFFFFF;
    width: 158px;
    height: 14px;
    text-align: start;

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .header__caption {
        padding-left: 4.68%;
        padding-right: calc(100% - 4.68% - 158px);
    }
}

@media screen and (max-width: 768px) {
    .header__caption {
        padding-left: 3.12%;
        padding-right: calc(100% - 3.12% - 158px);
    }
}

@media screen and (max-width: 320px) {
    .header__caption {
        padding-left: 5%;
        padding-right: calc(100% - 5% - 158px);
    }
}