.header__subtitle {
    margin: 32px 0 0;
    max-width: 640px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .header__subtitle {
        margin-top: 16px;
        font-size: 16px;
        line-height: 1.25;
    }
}