.lead__subtitle {
    margin: 32px auto 0;
    max-width: 640px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}


@media screen and (max-width: 456px) {
    .lead__subtitle {
        margin: 32px 64px 0;
    }
}

@media screen and (max-width: 456px) {
    .lead__subtitle {
        margin: 16px 16px 0;
        font-size: 16px;
        line-height: 1.25;
    }
}