.cover {
    margin: 92px 3.75% 0;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 66px 0 0;
    }
}