.cover {
    padding: 92px 48px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .cover {
        padding: 92px 0 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        padding-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        padding-top: 66px;
    }
}