.header__section-top {
    width: 100%;
    margin-top: 2.18%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header__section-top {
        margin-top: 2.73%;
    }
}

@media screen and (max-width: 768px) {
    .header__section-top {
        margin-top: 3.64%;
    }
}

@media screen and (max-width: 320px) {
    .header__section-top {
        margin-top: 5%;
    }
}

