.card__image {
    grid-area: img;
    max-width: 460px;
    justify-self: center;
    /* box-sizing: border-box; */
}

@media screen and (max-width: 1024px) {
    .card__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .card__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .card__image {
        max-width: 320px;
        /* margin: 0 -16px; */
    }
}