.card__image {
    max-width: 460px;
    width: 100%;
    grid-area: img;
    justify-self: center;
}

@media screen and (max-width: 1024px) {
    .card__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .card__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 340px) {
    .card__image {
        max-width: 320px;
    }
}