.cover__title {
    margin: 0;
    max-width: 560px;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
}

@media screen and (max-width: 560px) {
    .cover__title {
        max-width: 340px;
        font-size: 48px;
        line-height: 1.08;
    }
}

@media screen and (max-width: 340px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}