.card__title {
    margin: 0;
    align-self: flex-start;
    font-size: 72px;
    line-height: 1.06;
    font-style: normal;
    font-weight: 900;
}

@media screen and (max-width: 1023px) {
    .card__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 1.1;
        }
}

@media screen and (max-width: 767px) {
    .card__title {
        padding: 0 16px;
        font-size: 32px;
        line-height: 1.09;
        }
}
