.header__lang-links {
    margin: auto 0 0;
    padding: 0;
    list-style: none;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .header__lang-links {
        margin-right: 4.68%;
    }
}

@media screen and (max-width: 768px) {
    .header__lang-links {
        margin-right: 3.12%;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        margin-right: 5%;
    }
}