.cover__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color .3s ease-out;
}

.cover__text-container:hover {
    background-color: rgba(42, 44, 47, .7);
}