.header__main-illustration-container {
    padding: 64px 11.56% 0;
    max-width: 984px;
    max-height: 615px;
}

@media screen and (max-width: 1024px) {
    .header__main-illustration-container {
        padding: 56px 4.68% 0;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header__main-illustration-container {
        padding: 56px 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header__main-illustration-container {
        padding: 40px 0 0;
    }
}
