.card {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .card {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)) ;
        column-gap: 28px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        grid-template-columns: 1fr;
        gap: 32px 0;
    }
}