.card {
    padding: 80px 11.5625% 0;
    display: grid;
    grid-template-areas: 
    "title url"
    "img text";
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .card {
        padding: 80px 4.6875% 0;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        padding: 73px 3.125% 0;
        column-gap: 28px;
    }
}

@media screen and (max-width: 666px) {
    .card {
        padding: 50px 5% 0;
        grid-template-areas: 
        "title"
        "url"
        "img"
        "text";
        gap: 32px 0;
    }
}


@media screen and (max-width: 320px) {
    .card {
        padding: 50px 0 0;
    }
}