.card {
    display: grid;
    grid-template-areas: 
    "title url"
    "img text";
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .card {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        column-gap: 28px;
    }
}

@media screen and (max-width: 666px) {
    .card {
        grid-template-areas: 
        "title"
        "url"
        "img"
        "text";
        gap: 32px 0;
    }
}

