.intro__title {
    margin: 0;
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        margin: 0 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        margin: 0;
        font-size: 32px;
        line-height: 1.09;
    }
}